@{
}
<html>
    <body>
        <div>
            <h2>Новый продукт</h2>
            <h4>Заполните форму</h4>
            <form method="post">
                <table>
                    <tr>
                        <td>Product name</td>
                        <td><input type="text" name="Name" placeholder="Name"/></td>
                    </tr>
                    <tr>
                        <td>Description</td>
                        <td><input type="text" name="Description" placeholder="Description"/></td>
                    </tr>
                    <tr>
                        <td>Price</td>
                        <td><input type="number" name="Price" placeholder="Price"/></td>
                    </tr> 
                    <tr>
                        <td>Category id</td>
                        <td><input type="number" name="CategoryId" placeholder="CategoryId"/></td>
                    </tr>
                    <tr>
                        <td>
                            <input type="submit" value="Добавить"/>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </body>
</html>